<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: header"></head>
<body>
	<h1>All Students</h1>
	<table id="table_id">
		<thead>
			<tr>
				<th>No</th>
				<th>ID</th>
				<th>Nama</th>
				<th>Credits</th>
			</tr>
		</thead>
		<tbody th:each="course,iterationStatus: ${courses}"
			th:class="${iterationStatus.odd}?'odd'">
			<tr>
				<td th:text="${iterationStatus.count}">No</td>
				<td th:text="${course.idCourse}">Student NPM</td>
				<td th:text="${course.name}">Student Name</td>
				<td th:text="${course.credits}">Student GPA</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
